*.iml
.gradle
/local.properties
/.idea
/.vscode
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/test-app/release/baselineProfiles/0/test-app-release.dm
/test-app/release/baselineProfiles/1/test-app-release.dm
/test-app/release/output-metadata.json
